@use "../../styles/data" as *;

@keyframes twinkling {
  from {
    color: transparent;
  }

  to {
    background: linear-gradient(120deg, white, rgb(255, 255, 255), white);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.809);
    background-clip: text;
  }
}

.maintext-container {
  text-align: center;
  .maintext {
    background: linear-gradient(120deg, white, rgb(255, 255, 255), white);
    background-clip: text;
    color: transparent;
    @media (max-width: $maxMobile) {
      text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.349);
      font-size: 25px;
    }

    @media (min-width: $minTablet) and (max-width: $maxTablet) {
      text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.349);
      font-size: 35px;
    }
    @media (min-width: $minDesktop) {
      text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.349);
      font-size: 40px;
    }
    text-align: center;
    display: inline;
  }

  .twinkle {
    animation: 0.75s twinkling infinite ease;
    @media (min-width: $minMobile) and (max-width: $maxTablet) {
      font-size: 25px;
    }
    @media (min-width: $minDesktop) {
      font-size: 40px;
    }
    font-weight: 600;
  }
}

.subtext {
  text-align: center;
  font-weight: 400;
}
