@use "../styles/data" as *;

.main-content {
  height: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  &:nth-child(3) {
    height: 100vh;

    @media screen and (max-width: $maxTablet) {
      @include flex(space-around, center, column);
      padding: 50px 0;
      .title,
      .paragraph {
        padding: 0px 25px;
      }
    }
    @media screen and (min-width: $minDesktop) {
      @include flex(center);
      gap: 30px;
    }

    .title,
    .paragraph {
      margin-bottom: 10px;
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }
}
