.card {
  width: 100%;
  border-radius: 5px;
  min-height: 400px;
  box-shadow: 1px 1px 10px rgb(20, 20, 20);
  background-color: rgb(33, 32, 35);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;

  .title {
    color: whitesmoke;
    height: 40px;
  }
}
